@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* Estilos de Componentes varios */
* {
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}/* ----- Estilos de la NavBar ------ */

h1{
    font-size: 3em;
    font-weight: 700;
    color: whitesmoke;
    text-decoration: none;
}

.titulo{
    font-size: 2.5rem;
    font-family: Oswald;
    color: whitesmoke;
    position: right;
    padding-left: 20px;
}

.greeting{
    font-size: 3rem;
    font-weight: 700;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}
.navBar{
    display: block;
    width: auto;
    height:auto;
    padding: 0.5rem, 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 1rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: rgba(5, 14, 113, 0.5);
    border-bottom: 5px solid black;
    border-radius: 8px;
    }

.itemNav{
    font-family: Oswald,sans-serif;
    font-size: 1.1rem;
    display: flex;
    position: right;
    display: inline-block;
    align-items: flex-end;
    text-decoration: none;
    justify-content: space-around;
    color:whitesmoke;
    font-weight: 700;
    margin: 15px 15px;
    & :hover {
            color: rgb(243, 7, 7);}
    }

/* ------- Estilos del CartWidget ------*/
.cart{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding: 100px, 100px;
}

.btn-sumaCart{
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    text-align: center;
    margin-bottom: 5px;
    font-size: .5rem;
    color: rgb(11, 11, 11);
}



/* Estilos de las Card */

a{
    color:inherit;
    text-decoration: none;
}
.font-xl{
    font-size: 30px;
}

.container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: (4,400px);
    column-gap: 2.5rem;
    justify-content: space-around;
    padding-left: 85px;
}

.item-card {
    color: rgb(0, 0, 0);
    margin: 20px 15px;
    padding-top: 5px;
    padding-bottom: 25px;
    width: 280px;
    height: 480px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.95);
    background-color: rgba(91, 88, 88, 0.96);
    overflow: hidden;
    transition: all 0.30s ease-in;
    cursor: pointer;
}

.item-card_header {
    background-color: rgba(2, 10, 99, 0.849);
    font-size: .6rem;
    height: 25%;
    width: 100%;
}

.item-card_header h2{
    padding: 5px 3px;
    padding-left: 8px;
    margin-top: 4px;
    color:rgb(249, 247, 247);
}


.item-card_img {display: flex;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-items: center;
    align-items: center;
}

.item-card_img img{
    max-width:100%;
    max-height: 100%;
    object-fit: cover;
}

.card-genero{
    display: flex;
    position: relative;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 170px;
}
.item-card:hover{
    box-shadow: 0px 4px, 15px rgb(0, 0, 0,0.5);
    transform: translateY(-8px);
}

.item-card-price{
    margin-top: 0px;
    margin-left: 15px;
    margin-top: 1px;
    color: whitesmoke
}

.item-card:hover .item-card-favicon{
    display: block;
}

.item-card-favicon{
    display: none;
    background-color: transparent;
    background: transparent;
    position: center;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    margin: 5px 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: rgb(68, 68, 188);
}

.item-card-favicon.favorite{
    display: block;
    color: white;
    background-color: red;
}

.item-card-favicon.favorite.green{
    display: block;
    color: white;
    background-color: rgb(84, 220, 148);
}
/* ----- Estilos de la CardDetail */

.cardDetail{
    position: relative;
    border: 5px solid rgba(255,255,255,.5);
    color: rgb(0, 0, 0);
    margin: 20px 500px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    background-color: rgba(2,10,99,0.849);
    overflow: hidden;
    transition: all 0.30s ease-in;
    cursor: pointer;
}

.cardDetail_header {
    background-color: rgba(91, 88, 88, 0.96);
    font-size: 1.3rem;
    margin-top: 3px;
    text-align: center;
    height: 20%;
    width: 100%;
    font-family: Oswald;
    font-size: 1.6rem;
    padding-bottom: 10px;
    padding-left: 15px;
}

.item-card_header h2{
    padding: 5px 3px;
    font-size: 1.2rem;
    padding-left: 8px;
    margin-top: 2px;
    color:rgb(249, 247, 247);
}

.cardDetail_precio{
    color:rgb(207, 12, 12);
    margin-left: 260px;
    padding-top: 13px;
    margin-top: 10px;
    font-size: 1.4rem;
    font-family: Oswald;
    font-weight: 600;
}

.cardDetail_img {
    display: flex;
    position:absolute;
    margin-top: 40px;
    align-items:baseline;
    width: 200px;
    height: 390px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.cardDetail_img img{
    position: relative;
    max-width: 120%;
    max-height: 120%;
    object-fit: cover;
}
.texto{
    text-align:initial;
    color:whitesmoke;
    display: flex;
    position:absolute;
    margin-top: 0px;
    width: 360px;
    height: 10px;
    margin-bottom: 5px;
    padding-left: 150px;
}

.cardDetail-genero{
    display: flex;
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 75px;
    margin-top: 220px;
}

.cant-disp{
        display: flex;
        font-family: Oswald, sans-serif;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        margin-left: 115px;
        margin-right: 100px;
}



/* ---- Estilos del Counter */

.box-ItCount{
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 5px solid rgba(255,255,255,.5);
    color: rgb(0, 0, 0);
    margin: 10px 60px;
    padding-top: 30px;
    padding-left: 85px;
    padding-right: 80px;
    padding-bottom: 15px;
    width: 370px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(91, 97, 158, 0.849);
    overflow: hidden;
    cursor: pointer;
}

.btns-count{
    padding-block: 100px;
}

.btn-countMas{
    position:relative;
    color: rgb(0, 0, 0);
    background-color: rgba(250, 250, 250);
    border-radius: 100px;
    font-weight: 800;
    border: none;
    padding-right: 5px;
    margin-left: 25px;
}
.count{
    display: flex;
    font-family: Oswald, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 900;
    margin-left: -70px;
    margin-right: -90px;
    margin-top: 10px;
}

.btn-countMin{
    position:relative;
    color: rgb(0, 0, 0);
    background-color: rgba(250, 250, 250);
    border-radius: 100px;
    font-weight: 800;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 40px
}

/* ----- Estilos de h2 a h4 */

h2{
    font-size: 1rem;
    font-family: Oswald, sans-serif;
    font-weight: 800;
    color:rgb(255, 255, 255);
    display: flex;
    padding-left: 20px;
    padding-right: 8px;
}

h3{
    padding: 5px 3px;
    font-size: 1rem;
    padding-left: 8px;
    margin-top: 2px;
    color:rgb(249, 247, 247);
}
.h4{
    display: flex;
    color:rgb(79, 3, 21);
    text-align: bottom;
    padding-bottom: -50px;
    margin-top: 5px;
    margin-left: 55px;
    font-size: 1rem;
    font-weight: 700; 
}

/* ----- Estilos de Botones Vs */

.btn-MasInfo{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    margin-left: 85px;
    margin-right: -100px;
    margin-top: 10px;
    padding: 10px

}

.btn-sumaCart{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    margin-left: 160px;
    margin-right: -100px;
    margin-top: 8px;
    padding: 10px;
}

.btn-endSale{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(203, 18, 18);
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    margin-top: 40px;
    margin-bottom: -100px;
    margin-left: 190px;
    margin-right: 180px;
    padding: 15px;
}
/* -----  Loader ----- */
.loader3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 150px;
    width: 300px;
    margin-left: 500px;
    border-radius: 80px;
  }
  
  .bars {
    width: 10px;
    height: 20px;
    margin: 0 2px;
    border-radius: 4px;
    animation: loader3 3s ease-in-out infinite;
  }
  
  .bar1 {
    background-color: rgb(66, 133, 244);
    animation-delay: -0.8s;
  }
  
  .bar2 {
    background-color: rgb(66, 133, 244);
    animation-delay: -0.7s;
  }
  
  .bar3 {
    background-color: rgb(66, 133, 244);
    animation-delay: -0.6s;
  }
  
  .bar4 {
    background-color: #4285F4;
    animation-delay: -0.5s;
  }
  
  .bar5 {
    background-color: rgb(66, 133, 244);
    animation-delay: -0.4s;
  }
  
  .bar6 {
    background-color: #4285F4;
    animation-delay: -0.3s;
  }
  
  .bar7 {
    background-color: #4285F4;
    animation-delay: -0.2s;
  }
  
  .bar8 {
    background-color: rgb(66, 133, 244);
    animation-delay: -0.1s;
  }
  
  .bar9 {
    background-color: #4285F4;
    animation-delay: 0s;
  }
  
  .bar10 {
    background-color: #4285F4;
    animation-delay: 0.1s;
  }
  
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1, 2.32);
    }
  
    40% {
      transform: scale(1);
    }
  }

  /* ---- Clases de ViewCart */

.titu-VC{
    position: start;
    display:flex;
    margin-top: 5px;
    margin-left: 25px;
    


}
.Viewcart{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    height: 300px;
    width: 1350px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(90, 44, 44);
    color: whitesmoke;
}

.introVC{
    display:grid;
    margin-top: 0px;
    margin-left: -500px;
    margin-right: -500px;
    padding-left: 10px;
    width: 1000px;
    align-items:stretch;
    justify-content: space-between;

}
.btn-comprarMas{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(203, 18, 18);
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}
